<div class="application-form__apartments">
  <h2>
    {% trans %}
      Käännös tähän
    {% endtrans %}
  </h2>
  <p>
    {% trans %}
      You can search for up to 5 apartments. Arrange the apartments in the order you want.
    {% endtrans %}
  </p>
  <ul class="application-form__apartments-list" id="application_form_apartments_list">
    <li class="application-form__apartments-item">
      <article class="application-form-apartment">
        <p class="application-form-apartment__list-position is-desktop">
          <span class="visually-hidden">{% trans %}List position{% endtrans %}:</span>
          <span>1</span>
        </p>
        <div class="application-form-apartment__header">
          <p class="application-form-apartment__list-position is-mobile">
            <span class="visually-hidden">{% trans %}List position{% endtrans %}:</span>
            <span>1</span>
          </p>
          <p class="application-form-apartment__apartment-number">
            <span class="visually-hidden">{% trans %}Apartment{% endtrans %}:</span>
            <span>A75</span>
          </p>
          <p class="application-form-apartment__apartment-structure">
            <span class="visually-hidden">{% trans %}Apartment structure{% endtrans %}:</span>
            <span>4h, kt, s</span>
          </p>
        </div>
        <div class="application-form-apartment__list-position-actions">
          <button type="button"><span>{% trans %}Raise on the list{% endtrans %}</span></button>
          <button type="button"><span>{% trans %}Lower on the list{% endtrans %}</span></button>
        </div>
        <ul class="application-form-apartment__information">
          <li>
            <span>{% trans %}Floor{% endtrans %}</span>
            <span>7/7</span>
          </li>
          <li>
            <span>{% trans %}Living area size{% endtrans %}</span>
            <span>85,0 m<sup>2</sup></span>
          </li>
          <li>
            <span>{% trans %}Living area size{% endtrans %}</span>
            <span>308 128 €</span>
          </li>
          <li>
            <span>{% trans %}Living area size{% endtrans %}</span>
            <span>378 128 €</span>
          </li>
        </ul>
        <div class="application-form-apartment__actions">
          <button type="button">{% trans %}Delete{% endtrans %}</button>
          <a href="">{% trans %}Open apartment page{% endtrans %}</a>
        </div>
      </article>
    </li>
    <li class="application-form__apartments-item">
      <article class="application-form-apartment">
        <p class="application-form-apartment__list-position is-desktop">
          <span class="visually-hidden">{% trans %}List position{% endtrans %}:</span>
          <span>2</span>
        </p>
        <div class="application-form-apartment__header">
          <p class="application-form-apartment__list-position is-mobile">
            <span class="visually-hidden">{% trans %}List position{% endtrans %}:</span>
            <span>2</span>
          </p>
          <p class="application-form-apartment__apartment-number">
            <span class="visually-hidden">{% trans %}Apartment{% endtrans %}:</span>
            <span>A75</span>
          </p>
          <p class="application-form-apartment__apartment-structure">
            <span class="visually-hidden">{% trans %}Apartment structure{% endtrans %}:</span>
            <span>4h, kt, s</span>
          </p>
        </div>
        <div class="application-form-apartment__list-position-actions">
          <button type="button"><span>{% trans %}Raise on the list{% endtrans %}</span></button>
          <button type="button"><span>{% trans %}Lower on the list{% endtrans %}</span></button>
        </div>
        <ul class="application-form-apartment__information">
          <li>
            <span>{% trans %}Floor{% endtrans %}</span>
            <span>7/7</span>
          </li>
          <li>
            <span>{% trans %}Living area size{% endtrans %}</span>
            <span>85,0 m<sup>2</sup></span>
          </li>
          <li>
            <span>{% trans %}Living area size{% endtrans %}</span>
            <span>308 128 €</span>
          </li>
          <li>
            <span>{% trans %}Living area size{% endtrans %}</span>
            <span>378 128 €</span>
          </li>
        </ul>
        <div class="application-form-apartment__actions">
          <button type="button">{% trans %}Delete{% endtrans %}</button>
          <a href="">{% trans %}Open apartment page{% endtrans %}</a>
        </div>
      </article>
    </li>

    <li class="application-form__apartments-item">
      <article class="application-form-apartment">
        <p class="application-form-apartment__list-position is-desktop">
          <span class="visually-hidden">{% trans %}List position{% endtrans %}:</span>
          <span>3</span>
        </p>
        <div class="application-form-apartment__header">
          <p class="application-form-apartment__list-position is-mobile">
            <span class="visually-hidden">{% trans %}List position{% endtrans %}:</span>
            <span>3</span>
          </p>
          <p class="application-form-apartment__apartment-number">
            <span class="visually-hidden">{% trans %}Apartment{% endtrans %}:</span>
            <span>A75</span>
          </p>
          <p class="application-form-apartment__apartment-structure">
            <span class="visually-hidden">{% trans %}Apartment structure{% endtrans %}:</span>
            <span>4h, kt, s</span>
          </p>
        </div>
        <div class="application-form-apartment__list-position-actions">
          <button type="button"><span>{% trans %}Raise on the list{% endtrans %}</span></button>
          <button type="button"><span>{% trans %}Lower on the list{% endtrans %}</span></button>
        </div>
        <ul class="application-form-apartment__information">
          <li>
            <span>{% trans %}Floor{% endtrans %}</span>
            <span>7/7</span>
          </li>
          <li>
            <span>{% trans %}Living area size{% endtrans %}</span>
            <span>85,0 m<sup>2</sup></span>
          </li>
          <li>
            <span>{% trans %}Living area size{% endtrans %}</span>
            <span>308 128 €</span>
          </li>
          <li>
            <span>{% trans %}Living area size{% endtrans %}</span>
            <span>378 128 €</span>
          </li>
        </ul>
        <div class="application-form-apartment__actions">
          <button type="button">{% trans %}Delete{% endtrans %}</button>
          <a href="">{% trans %}Open apartment page{% endtrans %}</a>
        </div>
      </article>
    </li>

        <li class="application-form__apartments-item">
      <article class="application-form-apartment">
        <p class="application-form-apartment__list-position is-desktop">
          <span class="visually-hidden">{% trans %}List position{% endtrans %}:</span>
          <span>4</span>
        </p>
        <div class="application-form-apartment__header">
          <p class="application-form-apartment__list-position is-mobile">
            <span class="visually-hidden">{% trans %}List position{% endtrans %}:</span>
            <span>4</span>
          </p>
          <p class="application-form-apartment__apartment-number">
            <span class="visually-hidden">{% trans %}Apartment{% endtrans %}:</span>
            <span>A75</span>
          </p>
          <p class="application-form-apartment__apartment-structure">
            <span class="visually-hidden">{% trans %}Apartment structure{% endtrans %}:</span>
            <span>4h, kt, s</span>
          </p>
        </div>
        <div class="application-form-apartment__list-position-actions">
          <button type="button"><span>{% trans %}Raise on the list{% endtrans %}</span></button>
          <button type="button"><span>{% trans %}Lower on the list{% endtrans %}</span></button>
        </div>
        <ul class="application-form-apartment__information">
          <li>
            <span>{% trans %}Floor{% endtrans %}</span>
            <span>7/7</span>
          </li>
          <li>
            <span>{% trans %}Living area size{% endtrans %}</span>
            <span>85,0 m<sup>2</sup></span>
          </li>
          <li>
            <span>{% trans %}Living area size{% endtrans %}</span>
            <span>308 128 €</span>
          </li>
          <li>
            <span>{% trans %}Living area size{% endtrans %}</span>
            <span>378 128 €</span>
          </li>
        </ul>
        <div class="application-form-apartment__actions">
          <button type="button">{% trans %}Delete{% endtrans %}</button>
          <a href="">{% trans %}Open apartment page{% endtrans %}</a>
        </div>
      </article>
    </li>

        <li class="application-form__apartments-item">
      <article class="application-form-apartment">
        <p class="application-form-apartment__list-position is-desktop">
          <span class="visually-hidden">{% trans %}List position{% endtrans %}:</span>
          <span>5</span>
        </p>
        <div class="application-form-apartment__header">
          <p class="application-form-apartment__list-position is-mobile">
            <span class="visually-hidden">{% trans %}List position{% endtrans %}:</span>
            <span>5</span>
          </p>
          <p class="application-form-apartment__apartment-number">
            <span class="visually-hidden">{% trans %}Apartment{% endtrans %}:</span>
            <span>A75</span>
          </p>
          <p class="application-form-apartment__apartment-structure">
            <span class="visually-hidden">{% trans %}Apartment structure{% endtrans %}:</span>
            <span>4h, kt, s</span>
          </p>
        </div>
        <div class="application-form-apartment__list-position-actions">
          <button type="button"><span>{% trans %}Raise on the list{% endtrans %}</span></button>
          <button type="button"><span>{% trans %}Lower on the list{% endtrans %}</span></button>
        </div>
        <ul class="application-form-apartment__information">
          <li>
            <span>{% trans %}Floor{% endtrans %}</span>
            <span>7/7</span>
          </li>
          <li>
            <span>{% trans %}Living area size{% endtrans %}</span>
            <span>85,0 m<sup>2</sup></span>
          </li>
          <li>
            <span>{% trans %}Living area size{% endtrans %}</span>
            <span>308 128 €</span>
          </li>
          <li>
            <span>{% trans %}Living area size{% endtrans %}</span>
            <span>378 128 €</span>
          </li>
        </ul>
        <div class="application-form-apartment__actions">
          <button type="button">{% trans %}Delete{% endtrans %}</button>
          <a href="">{% trans %}Open apartment page{% endtrans %}</a>
        </div>
      </article>
    </li>

    <li class="application-form__apartments-item">
      <article class="application-form-apartment">
        <p class="application-form-apartment__list-position is-desktop">
          <span class="visually-hidden">{% trans %}List position{% endtrans %}:</span>
          <span>5</span>
        </p>
        <div class="application-form-apartment__header">
          <p class="application-form-apartment__list-position is-mobile">
            <span class="visually-hidden">{% trans %}List position{% endtrans %}:</span>
            <span>5</span>
          </p>
          <button class="application-form-apartment__apartment-add-button" type="button">{% trans %}Add an apartment to the list{% endtrans %}</button>
        </div>
        <div class="application-form-apartment__list-position-actions">
          <button type="button" disabled><span>{% trans %}Raise on the list{% endtrans %}</span></button>
          <button type="button" disabled><span>{% trans %}Lower on the list{% endtrans %}</span></button>
        </div>
      </article>
    </li>
  </ul>
</div>